body {
  font-family: 'white_rabbitregular';
  background-color: #101215;
  padding: 0 0 0 0;
}

* {
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  border-width: 2px;
  border-style: solid;
  border-color: #75B3F7;
}

.A {
  color: #FFFFFF;
}

.C {
  color: #9B9B9B;
}

.S {
  color: #75B3F7;
}

.N {
  color: #00FEFF;
}

.V {
  color: #FF27F0;
}

.J {
  color: #FFF300;
}

.F {
  color: #FF8100;
}

.L {
  color: #1EFC00;
}

C {
  color: #9B9B9B;
}

L {
  color: #1EFC00;
}

F {
  color: #FF8100;
}
